*{
    box-sizing: border-box;
    margin: 0;
}

.etssj{
    position: relative;
     display: block;
}

.midcon{
    width: 100%;
     
}



img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


.midcon_img{
    height: 100%;
    /* object-fit: cover; */
    width: 100%;
    position:absolute;
}

.midcon_img  img{
    width: 100%;
    height: 100%;
}




.midcon_head {
    top: 20;
    max-width: 1024px;
    min-height: 375px;
    display: flex;
    margin:0 auto;
    padding:48px 5px calc(48px + 30px);
    box-sizing: border-box;
    position: relative;
}

.midcon_text{
   max-width: 660px;
}

.mid_title{
    font-size: 3rem;    
    color: #fff;
}


.mid_quate{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1.25em;
}


.mid_btn{
    text-decoration: none;
}

.mid_btn button{
color: #fff;
text-decoration: none;
padding: 12px 8px;
font-size: 1.2rem;
border: none;
background-color: #0071c2;
outline: none;
cursor: pointer;
}

.mid_btn button:hover{
    background-color: #0f4a8a;
}


.headerserch{
    border: 3px solid #febb02;
    height: 60px;
    position: absolute;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    width: 100%;
    max-width: 1024px;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%,-25px);
}


.headerBtn{
    padding: 0.625em 2em;
    border: none;
    background-color: #0071c2;
}

.headericon{
    color: #bdbdbd;
}


.headerserachiteam{
    display: flex;
    align-items: center;
    gap: 10px;
}




.headerserachiteam input{
    border: none;
    outline: none;
}

.headerserachiteam span{
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}


.date{
    position: absolute;
    top: 65px;
    transform: translatex(-10%);
    z-index: 2;
}


.ageselecter {
    position: absolute;
   top: 65px;
   background-color: white;
   border-radius: 5px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   z-index: 2;
}

.ageselecteroption {
    width: 250px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.ageselecterbtn{
   width: 30px;
   height: 30px;
   background: #fff;
  border: 1px solid #0071c2;
  cursor: pointer;
}

.agetextcon{
    display: flex;
    gap: 10px;
    align-items: center;
}

.ageselecterbtn:disabled{
    cursor:  not-allowed;
}

@media screen and (max-width : 904px) {
    .mid_title{
        font-size: 2.5rem;
    }

    .mid_btn bottom {
        padding: 8px 3px;
        font-size: 1rem;
    }

    
}


@media screen and (max-width : 504px){
    .mid_title{
        font-size: 1.6rem;
    }
}

