*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.features {
    z-index:-1;
}


.featcon{
    height:100%;
    width: 100%;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    gap: 20px;
    position: relative;
   
}

.featuretitle{
    padding: 20px;
}



.featurebtn{
    margin-top: 12px;
    padding: 10px 12px;
   border: none;  
    font-size: 1rem;
   background-color: #0071c2 ;
   color: #fff;
}

.featurebtn:hover{
    cursor: pointer;
    background-color: #0071c2;
}



.featutename{
    font-weight: 500;
}

.featutequate{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
}



.featureimg {
    width: 100%;
    height: 100%;

}

.featureimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featuretitle{
    position: absolute;
    top: 28px;
    color: #fff;
    font-size: 1.1rem;  
    max-width: 320px;
}



.featutetitile{
    margin-bottom: 10px;
}

.featuresiteams{
    display: flex;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.featurseimg{
    width: 30%;
}

.featurseimg img {
    width: 100%;
}

.featursetitle{
    width: 70%;
    padding: 10px;
}

.featursetitle p:nth-child(1) {
    margin-top: 30px;
    font-weight: bold;
}
.featursetitle p:nth-child(2) {
    margin-top: 10px;
    font-weight: 400;
    font-size: 1rem;
}

/* .featursetitle > button{
    margin-top: 20px;
    padding: 10px 12px;
   border: none;  
    font-size: 1rem;
   background-color: #0071c2 ;
   color: #fff;
   cursor: pointer;
} */

.featursetitle > button:hover{
     background-color:  #0f4a8a;
}


.fearuretitle{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 7px;
    color: #262626;
}

.featuretitle1{
    color: #6b6b6b;
    font-weight: 400;
    margin-bottom: 6px;
}



