*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.mail{
    width: 100%;
    background-color: #003580;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 50px;
}

.mt50{
    margin-top: 50px;
}

.mt0{
    margin-left: 0;
}

.mailInputContainer > input {
    width: 320px;
    height: 40px;
    padding: 10px;
    border: none;
    margin-right: 5px;
    font-size: 1rem;
    outline: none;
}

.mailDesc{
    margin-bottom: 12px;
}



.mailInputContainer > button{
    height: 40px;
    font-size: 1rem;
    background-color: #0071c2;
    color: #fff;
    font-weight: 300;
    border:none ;
    padding: 0 10px;
    cursor: pointer;
}

