*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.hotelcontainer{
    display: flex;
    padding: 1.5rem  0px;
    flex-direction: column;
    align-items: center;
    
}

.hotelwrapper{
    width: 100%;
    max-width: 1024px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}

.Booknow{
    position: absolute;
    top: 10px;
    right: 0px;
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.hotelimgwrapper{
    width: 33%;
}
 

.hotelImages{
   display: flex;
   flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}

.hotelImages img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hotelTitle{
    font-size: 1.5rem;
    font-weight: 500;
}

.hoteladdress{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    gap: 10px;
}

.hoteldistance{
    color: #0071c2;
    font-weight: 500;
    display: block;
}

.hotelPriceHighlight{
    color: #008009;
    font-weight: 500;
}

.hoterdetails{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 10px;
}

.hoteldetialtext{
    flex: 3;
    gap: 20px;
}
.hoteldetailprice{
    flex: 1;
    background-color: #ebf3ff;
    display: flex;
    flex-direction: column;  
    gap: 20px;
    padding: 20px;
}

.hoteldesc{
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1.5;
    color: #262626;
}
.hoteltitle1{
    margin-bottom: 19px;
    color: #262626;
}

.hoteldetailprice > h1{
font-size: 1.2rem;
color: #555;
}

.hoteldetailprice > span {
    font-size: 14px;
    color: #555;
}

.hoteldetailprice > h2 {
    font-weight: bold;
    color: #262626;
}


.hoteldetailprice b {
    font-weight: bold;
}

.hoteldetailprice > button{
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}


.slider{
    position: sticky;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.158);
    display: flex;
    justify-content: center;
    z-index: 2;
    align-items: center;
}

.slidewrapper{
    width: 100%;
    height: 100vhd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidewrapper > img {
    width: 80%;
    height: 80vh;
    object-fit: cover;
}

.close{
    position: absolute;
    top: 80px;
    right: 180px;
    color: #262626;
    font-size: 2rem;
}

.arrow{

    font-size: 2rem;
   
}